@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#fbda61,#ff5acd);
}
.card{
    position: relative;
    width: 350px;
    height:450px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}
.card:hover{
    height: 450px;

}
.imgbx{
    position: absolute;
    left: 50%;
    top: -50px;
    transform:translate(-50%);
    width: 150px;
    height: 150px;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.15);
    transition: 0.5s;
}
.imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.card:hover .imgbx{
    width: 250px;
    height: 250px;
}
.card .content{
    position: absolute;
    width: 100%;
    height: 100%;   
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top:60% ;
    
    
}
.card .content .details{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;

}
.card .content .details h2{
    font-size: 1em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
}
.card .content .details h2 span{
    font-size: 0.65em;
    font-weight: 500;
}
.card .content .details .icons{
    margin-top: 10%;

}
.card .content .details .icons a{
    font-size: 20px;
    padding:0 15px;
    text-decoration: none;
    transition: 0.5s;
}
.card .content .details .icons .fa-facebook{
    color: aqua;
}
.card .content .details .icons .fa-instagram{
    color: aqua;
}
.card .content .details .icons .fa-twitter{
    color: aqua;
}
.card .content .details .btn .mail{
    margin-top: 15px;
    background: #ff5acd;
    width: 50%;
    height: 2em;
    border-radius: 5px;
    border-style: groove;
    border: #ff5acd;
    padding: 0 5px;
    font-size: medium;
    font: 200;
    color: #555;
    box-shadow: 0 15px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.5s;
    

}
.card .content .details .icons .fa-facebook:hover{
    color: rgb(92, 171, 250);
    
}
.card .content .details .icons .fa-instagram:hover{
    color: rgb(231, 57, 247);
}
.card .content .details .icons .fa-twitter:hover{
    color: rgb(12, 234, 242);
}
.card .content .details .btn :hover{
    width:70%;
    height: 2.5em;
    background: #f196d6;
}